@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


nav {
  background-color: blue;
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

ul {
  text-align: center;
}

ul li {
  display: inline;
  list-style: none;
  margin: 0 15px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

ul li a:hover {
  background-color: black;
  color: aqua;
}

.img1 {
  height: 45px;
  position: absolute;
  left: 15px;
  top: 5px;
  border-radius: 35px;
}

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.postimg.cc/DZdBCBRw/1766853944752.png") center / cover no-repeat;
  z-index: -1;
  
}

.box3 {
  background-color: gray;
  padding: 5px 10px;
  border-radius: 22px;
  margin: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px 20px 20px 10px;
}

.item1 {
  grid-column: 1 / 2;
}

.item2 {
  grid-column: 2 / 3;
}

/*.item3 {
  grid-column: 1 / -1;
}*/

/*
.span1 {
  font-weight: bolder;
  color: #40a3ff;
}

.ctetimg {
  height: 90px;
  margin: 40px 20px;
  border-radius: 13px;
  box-shadow: 0px 20px 30px;
  float: left;
  position: relative;
}

.ctetpara {
  color: gray;
}

.ctetbox {
  color: black;
  border: 2px solid red;
  height: 120px;
  position: relative;
  left: 220px;
}
*/

.ctetimg{
  height: 90px;
  border-radius: 13px;
  box-shadow:0px 20px 30px rgba(0,0,0,1);
}

.heading{
  text-decoration: underline;
  color:black;
}
.para{
  color:gray;
  font-size: 13px
}
.instagram{
  position:fixed;
  top:475px;
  left:315px
}

.instagram img{
  height:30px;
  border-radius: 10px;
  justify-content: right;
  box-shadow:0px 10px 30px rgba(0,0,0,1);
}
.gridanchor {
  grid-column:1/3;
 grid-row:1/2;
display: grid;
  grid-template-columns: 1fr 3fr;
  gap:20px;
  padding:20px 20px 20px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 13px;
}
  
 /*background-color: #f4f4f4;
  border: 2px solid #333;
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: background 0.3s ease;
}*/
.gridanchor:hover{
  background-color: #2b2b2b;
}
.gridanchor:hover .para{
  color:white;
}
.gridanchor:hover .heading{
  color:white;
}
.box4{
  background-color: gray;
  padding: 5px 10px;
  border-radius: 22px;
  margin:20px;
  box-shadow:0px 10px 30px rgba(0,0,0,1);
  position:relative;
  bottom:50px;
}
  
.span1{
  color:#40a3ff;
}

.box5{
  position:relative;
  bottom:50px;
}
